<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            color:cadetblue;font-size:50px;font-family: Arial, Helvetica, sans-serif;background-color: coral;
        }
        #xiaomao {
            width:400px;
            }
        .add{color:white;}
        .even{color:cornflowerblue}
        li{padding:12px 24px;border-bottom: 1px solid #ddd;}
        li:hover{
            background-color: #000;;
        }
    </style>
</head>
<body>
    <h2>
        <img src="avatar.png" alt="对不是龙猫是那只小猫" id="xiaomao">
        darry
    </h2>
    <ul>
        <li class="add">好帅</li>
        <li class="even">太帅了</li>
        <li class="add">非常帅</li>
        <li class="even">非常帅呢</li>
        <li class="add">好帅好帅啊</li>
        <li class="even">啊啊啊好帅啊</li>
        <li class="add">我的天呐太帅了</li>
        <li class="even">天呐天呐天呐好帅</li>
        <li class="add">我的老天爷啊太帅了</li>
        <li class="even">以上都是假的不要信了</li>
        <img src="totoro.gif" alt="对不起不是小猫是那只龙猫" id="longmao">
    </ul>
</body>
</html>